@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
*, *:before, *:after {
  box-sizing: border-box;
}


.container {
  background: white;
  width: 740px;
  max-height: 80vh;
  margin: 50px auto;
  border-radius: 20px;
  position: relative;
  box-shadow: -1px 15px 30px -6px #c4c4c4;
}

strong {
  font-weight: 900;
}



.close-button {
  position: absolute; 
  right: -20px;
  top: -20px;
  font-size: 40px;
  color: #B8B8B8;
  background: white;
  border-radius: 50%;
  padding: 10px 10px 15px 10px;
  box-shadow: -1px 3px 20px -6px #c4c4c4;
}
.close-button:hover {
  background: #fbfafa;
  cursor: pointer;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}